---
import Layout from '../layouts/Layout.astro';
const title = 'Astro Booking';
---
<Layout {title}>
  <h1>Bienvenido a Astro Booking</h1>
  <p>Esta es una plantilla inicial para tu proyecto de reservas.</p>
  <a class="button" href="/booking">Ver disponibilidad</a>
</Layout>
